.vs
/Blog.API/bin
/Blog.API/obj
/Blog.Entities/bin
/Blog.Entities/obj
/Blog.Entities/App_Data
/Blog.Contracts/bin
/Blog.Contracts/obj
/Blog.Repository/bin
/Blog.Repository/obj
/Blog.Web/bin
/Blog.Web/obj